<div class="hero">
  <h1>VIBE101</h1>
  <p>Where Vibe Coders Unite - Connect with fellow developers, share your vibe, and build amazing things together</p>
  <% if (!user) { %>
    <a href="/signup" class="btn">Join the Community</a>
  <% } else { %>
    <a href="/dashboard" class="btn">Go to Dashboard</a>
  <% } %>
  
  <div class="social-links">
    <a href="https://discord.gg/vibe101" target="_blank" title="Discord"><i class="fab fa-discord"></i></a>
    <a href="https://twitter.com/vibe101" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/vibe101" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/vibe101" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
  </div>
</div>